@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/* color variables */
:root {
    --webpage-white: #F1F0E8;
    --light-gray: #E9EAF2;
    --turquoise: #0DCBAB;
    --turquoise-hover: #16bea2;
    --oxford-blue: #002147;
    --timberwolf: #D2D3D3;
    --slate-blue: #6759CA;
    --slate-blue-hover: #5348a5;
}

/* FOR TESTING: add a red border around every element */
/* * {
    border: 2px solid red;
} */

body {
    font-family: calibri, sans-serif;
    margin: 0;
    padding: 0;
    /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    background-color: var(--webpage-white) !important;
}

/* navigation bar element */
nav {
    display: flex;
    list-style-type: none;
    padding: 0;
    background-color: var(--oxford-blue);
}
/* navigation bar image logo */
#navbar-logo {
    width: 80px;
    height: auto;
    margin-right: 10px;
}
/* navigation bar links */
.navbar-brand, .nav-link {
    font: 17px calibri, sans-serif;
    color: var(--webpage-white);
    margin: 0 5px;
}
/* navigation bar links on hover */
nav a:hover {
    color: var(--turquoise);
}

/* jumbo header */
.jumbo-header {
    background: var(--timberwolf);
    padding: 5em 15em;
    text-align: center;
}
.jumbo-image {
    max-width: 100%;
    height: auto;
}

.content {
    padding: 2em;
}

/* home page latest tweets scroll container */
div.scroll {
    background-color: var(--timberwolf);
    max-width: 100%;
    height: 500px;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
}

/* register page create user account form  */
#register {
    background-color: white;
    /* border-radius: 25px; */
    opacity: 0.9;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 100px;
    
    width: 500px;
    height: 500px;
}

/* footer at the bottom of the webpage */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}

/* adding user information containers (email and phone numebr) */
.add_info {
    min-height: 100%;
    font-size: 2.5vh;
    box-sizing: border-box;
    border: 2px solid var(--oxford-blue);
    min-height: 100vh;
    padding: 25px;
}
/* add user information button */
.add-btn {
    background-color: var(--turquoise);
    color: white;
    padding: 10px 15px;
    width: 25px;
    height: 35px;
    border-radius: 5%;
    text-decoration: none;
    box-sizing: border-box;
    margin-bottom: 100px;
}
.add-btn:hover {
    background-color: var(--turquoise-hover);
    color: white;
    text-decoration: none;
}
/* delete user information button */
.delete-btn {
    background-color: var(--slate-blue);
    color: white;
    padding: 10px 15px;
    width: 25px;
    height: 35px;
    border-radius: 5%;
    text-decoration: none;
    box-sizing: border-box;
    margin-bottom: 100px;
}
.delete-btn:hover {
    background-color: var(--slate-blue-hover);
    color: white;
    text-decoration: none;
}

.btn-primary {
    --bs-btn-bg: #0dcbab;
    --bs-btn-border-color: var(--bs-btn-bg);
    --bs-btn-hover-bg: #0db195;
    --bs-btn-hover-border-color: var(--bs-btn-hover-bg);
}

.btn-secondary {
    --bs-btn-bg: #6A5ACD;
    --bs-btn-border-color: var(--bs-btn-bg);
    --bs-btn-hover-bg: #5549a5;
    --bs-btn-hover-border-color: var(--bs-btn-hover-bg);
}

.bg-timberwolf {
    background-color: #D2D3D3;
}