/* color variables */
:root {
    --webpage-white: #F1F0E8;
    --light-gray: #E9EAF2;
    --turquoise: #0DCBAB;
    --turquoise-hover: #16bea2;
    --oxford-blue: #002147;
    --timberwolf: #D2D3D3;
    --slate-blue: #6759CA;
    --slate-blue-hover: #5348a5;
    --slate-gray: #7E8C95;
    --slate-gray-hover: #59646a;

    --font-family-primary: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    system-ui,
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
    --font-family-monospace: ui-monospace,
    Menlo,
    Monaco,
    "Cascadia Mono",
    "Segoe UI Mono",
    "Roboto Mono",
    "Oxygen Mono",
    "Ubuntu Monospace",
    "Source Code Pro",
    "Fira Mono",
    "Droid Sans Mono",
    "Courier New",
    monospace,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.sticky {
    position: sticky;
    top: 100px;
    max-height: 100vh;
}

.toggle-nav-sidebar {
    position: sticky;
    top: 70px;
    padding: 0px;
    width: 100%;
    background-color: var(--turquoise);
    color: white;
    display: flex;
    justify-content: center;
    z-index: 20;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 23px;
    border: 0;
    cursor: pointer;
    font-size: 1.25rem;
    padding: 0;
}


.toggle-nav-sidebar:hover,
.toggle-nav-sidebar:focus {
    background-color: var(--turquoise-hover);
    outline: none;
}

#nav-sidebar {
    z-index: 15;
    flex: 0 0 500px;
    left: -500px;
    margin-left: -500px;
    border-top: 1px solid transparent;
    border-right: 1px solid var(--hairline-color);
    background-color: var(--body-bg);
    overflow: auto;
}

/* [dir="rtl"] #nav-sidebar {
    border-left: 1px solid var(--hairline-color);
    border-right: 0;
    left: 0;
    margin-left: 0;
    right: -276px;
    margin-right: -276px;
} */

.toggle-nav-sidebar::before {
    content: '\00BB';
}

.main.shifted .toggle-nav-sidebar::before {
    content: '\00AB';
}

.main > #nav-sidebar {
    display: hidden;
}

.main.shifted > #nav-sidebar {
    margin-left: 0;
    display: block;
}

[dir="rtl"] .main.shifted > #nav-sidebar {
    margin-right: 0;
}

#nav-sidebar .module th {
    width: 100%;
    overflow-wrap: anywhere;
}

#nav-sidebar .module th,
#nav-sidebar .module caption {
    padding-left: 16px;
}

#nav-sidebar .module td {
    white-space: nowrap;
}

[dir="rtl"] #nav-sidebar .module th,
[dir="rtl"] #nav-sidebar .module caption {
    padding-left: 8px;
    padding-right: 16px;
}

#nav-sidebar .current-app .section:link,
#nav-sidebar .current-app .section:visited {
    color: var(--header-color);
    font-weight: bold;
}

#nav-sidebar .current-model {
    background: var(--selected-row);
}

.main > #nav-sidebar + .content {
    max-width: calc(100% - 23px);
}

.main.shifted > #nav-sidebar + .content {
    max-width: calc(100% - 500px);
}

@media (max-width: 767px) {
    #nav-sidebar {
        /* display: none; */
        flex: 0 0 275px;
        left: -275px;
        margin-left: -275px;
    }

    .main > #nav-sidebar + .content,
    .main.shifted > #nav-sidebar + .content {
        max-width: 100%;
    }
}

/* OLD */
#sidebar {
    min-width: 250px;
    max-width: 250px;
    /* height: 100vh; */
    background: var(--slate-gray);;
    /* color: $text-sidebar; */
    transition: all 0.3s;
    z-index: 15;
    flex: 0 0 275px;
    left: -276px;
    margin-left: -276px;
    border-top: 1px solid transparent;
    border-right: 1px solid var(--oxford-blue);
    background-color: var(--light-gray);
    overflow: auto;
}

/* OLD */
#sidebar.active {
    z-index: 20;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 23px;
    width: 23px;
    border: 0;
    border-right: 1px solid var(--oxford-blue);
    background-color: var(--light-gray);
    cursor: pointer;
    font-size: 1.25rem;
    padding: 0;
}

/* #sidebar.active {
    margin-left: -250px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
} */

.sidebar-btn {
    background: var(--slate-gray) !important;
}

#sidebar li {
    padding: 10px;
}

#documentTypeSelector, #add-document, #add-note {
    color: rgb(241, 237, 237);
    width: 100%;
}

#documentTypeSelector {
    color: black;
    font-size: 0.9rem;
    padding: 2px 5px;
}

#sidebar ul li.drive-options {
    color: rgb(241, 237, 237) !important;
    display: none;
}

#sidebar ul li a.sidebar-item {
    padding: 10px 3px;
    font-size: 2.25vh;
    position: relative;
    color: rgb(241, 237, 237);
}

#sidebar ul li a .icon {
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

#sidebar ul li a.sidebar-item:hover {
    color: var(--turquoise);
    text-decoration: none;
}

#sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon {
    color: #0c7db1;
}

#sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
    display: block;
}