/* color variables */
:root {
    --webpage-white: #F1F0E8;
    --light-gray: #E9EAF2;
    --turquoise: #0DCBAB;
    --turquoise-hover: #16bea2;
    --oxford-blue: #002147;
    --timberwolf: #D2D3D3;
    --slate-blue: #6759CA;
    --slate-blue-hover: #5348a5;
    --slate-gray: #7E8C95;
    --slate-gray-hover: #59646a;

    --font-family-primary:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        system-ui,
        Roboto,
        "Helvetica Neue",
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-family-monospace:
        ui-monospace,
        Menlo,
        Monaco,
        "Cascadia Mono",
        "Segoe UI Mono",
        "Roboto Mono",
        "Oxygen Mono",
        "Ubuntu Monospace",
        "Source Code Pro",
        "Fira Mono",
        "Droid Sans Mono",
        "Courier New",
        monospace,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
}

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    background: var(--slate-gray);;
    /* color: $text-sidebar; */
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.sidebar-btn {
    background: var(--slate-gray) !important;
}

#sidebar li {
    padding: 10px;
}

#documentTypeSelector, #add-document, #add-note {
    color: rgb(241, 237, 237);
    width: 100%;
}

#documentTypeSelector {
    color: black;
    font-size: 0.9rem;
    padding: 2px 5px;
}

#sidebar ul li.drive-options {
    color: rgb(241, 237, 237) !important;
    display: none;
}

#sidebar ul li a.sidebar-item {
    padding: 10px 3px;
    font-size: 2.25vh;
    position: relative;
    color: rgb(241, 237, 237);
}

#sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

#sidebar ul li a.sidebar-item:hover{
    color: var(--turquoise);
    text-decoration: none;
}

#sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: #0c7db1;
}

#sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}