<!DOCTYPE html>
<html lang="en">
<head>
    <!--
        This HTML template displays the User Add Note page.
        This page allows the user to create a note and enter information about it.
        Note information consists of the note title and note content.
        The <textarea> element which houses the note content expands as the user types.
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Add note</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../../../static/Syncmore/favicon.ico">
    <!-- link to styles -->
    <link rel="stylesheet" href="../../../static/Syncmore/styles.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="gray-body">
<!-- START: user navigation bar -->
<nav class="navbar navbar-expand-md">
    <!-- website logo -->
    <img src="../../../static/Syncmore/HomeMore_Logo_Blue_Cropped.jpg" id="navbar-logo" alt="HomeMore Logo">
    <!-- website brand name -->
    <a class="navbar-brand" href="/">SyncMore</a>

    <!-- START: toggle button for mobile navigation bar links -->
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-nav"
            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- END: toggle button for mobile navigation bar links -->

    <!-- START: navigation bar links -->
    <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="navbar-item">
                <a class="nav-link" href="/resources/index">Resources</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/index/contact">Contact Us</a>
            </li>
        </ul>
        <ul class="navbar-nav justify-content-end align-right">
            <li class="navbar-item">
                <a class="nav-link" href="#">Account Settings</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/user/logout">Log Out</a>
            </li>
        </ul>
    </div>
    <!-- END: navigation bar links -->
</nav>
<!-- END: user navigation bar -->

<!-- BEGIN: User form div -->
<div class="user-form">
    <!-- BEGIN: User form container -->
    <div id="user-form-container">
        <!-- Go back button -->
        <div id="user-form-navigation" class="my-3">
            <a class="btn delete-btn" href="/user/index"> < Back </a>
        </div>
        <!-- User form header -->
        <div id="user-form-header">
            <h5>Add note</h5>
        </div>
        <!-- BEGIN: User form content -->
        <div id="user-form-content">
            <div class="container">
                <form action="/user/add_note" class="form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- Note name -->
                    <div class="form-group row">
                        <label for="note-title" class="required">Note title</label>
                        <input type="text" name="title" class="form-control" id="note-title" required/>
                    </div>
                    <!-- Note content -->
                    <div class="form-group row">
                        <label for="note-content">Note content</label>
                        <textarea cols="30" rows="10" name="content" class="form-control" onkeyup="textAreaAdjust(this)"
                                  style="overflow:hidden" id="note-content"></textarea>
                    </div>
                    <!-- Update button -->
                    <div class="form-group row d-flex justify-content-center">
                        <input type="submit" class="btn add-btn" value="Save" style="width: 200px; text-align: center;">
                    </div>
                </form>
            </div>
        </div>
        <!-- END: User form content -->
    </div>
    <!-- BEGIN: User form container -->
</div>
<!-- END: User form div -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- JS for updating the <textarea> element size as note content changes -->
<script>
    function textAreaAdjust(element) {
        element.style.height = "1px";
        element.style.height = (25 + element.scrollHeight) + "px";
    }
</script>
</body>
</html>
