<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../../../static/Syncmore/favicon.ico">
    <!-- link to styles -->
    <link rel="stylesheet" href="../../../static/Syncmore/styles.css"/>
    {% comment %} <link rel="stylesheet" href="../../../static/Syncmore/base.css"/> {% endcomment %}
    <link rel="stylesheet" href="../../../static/Syncmore/user_sidebar.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<!-- START: navigation bar -->
<nav class="navbar navbar-expand-md">
    <!-- website logo -->
    <img src="../../../static/Syncmore/HomeMore_Logo_Blue_Cropped.jpg" id="navbar-logo" alt="HomeMore Logo">
    <!-- website brand name -->
    <a class="navbar-brand" href="/">SyncMore</a>

    <!-- START: toggle button for mobile navigation bar links -->
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-nav"
            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- END: toggle button for mobile navigation bar links -->

    <!-- START: navigation bar links -->
    <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
        <!-- left hand side links: Resources and Contact Us -->
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="navbar-item">
                <a class="nav-link" href="/resources/index">Resources</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/index/contact/">Contact Us</a>
            </li>
        </ul>
        <!-- right hand side links: User Account Settings and Log Out -->
        <ul class="navbar-nav justify-content-end align-right">
            <li class="navbar-item">
                <a class="nav-link" href="/user/account">Account Settings</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/user/logout">Log Out</a>
            </li>
        </ul>
    </div>
    <!-- END: navigation bar links -->
</nav>
<!-- END: navigation bar -->

<!-- for authentication -->
{% csrf_token %}

<div class="wrapper">

    <!-- BEGIN: sidebar -->
    <nav class="col-lg-2" id="sidebar">
        <ul class="sidebar-list">
            <li>
                <a href="" class="sidebar-item" onclick="return false;">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="item" id="homeButton">> Home Page</span>
                </a>
            </li>
            <li>
                <a href="" class="sidebar-item" onclick="return false;">
                    <span class="icon"><i class="fas fa-desktop"></i></span>
                    <span class="item" id="driveButton">> Personal Drive</span>
                </a>
            </li>
            <li class="drive-options">
                <!-- Document type dropdown -->
                <h6>Filter view by file type:</h6>
                <select class="form-select" id="documentTypeSelector" onchange="filterDocuments()">
                    <option value="">--Select a file type--</option>
                    <option value="All">Show All</option>
                    <option value="Birth Certificate">Birth Certificate</option>
                    <option value="Financial">Financial</option>
                    <option value="Housing">Housing</option>
                    <option value="ID">ID</option>
                    <option value="Insurance">Insurance</option>
                    <option value="SSN">SSN</option>
                    <option value="Passport">Passport</option>
                    <option value="Other">Other</option>
                    <!-- Add other types as needed -->
                </select>
            </li>
            <li class="drive-options">
                <!-- Upload document -->
                <h6>Upload a document:</h6>
                <a class="btn add-btn" id="add-document" href="/user/add_document">Upload document</a>
            </li>
            <li class="drive-options">
                <!-- Create a note -->
                <h6>Create a note:</h6>
                <a class="btn add-btn" id="add-note" href="/user/add_note">Create note</a>
            </li>
        </ul>
    </nav>
    <!-- END: sidebar -->

    <!-- BEGIN: user content: home page / personal drive view -->
    <div id="content">

        <nav class="user-navbar navbar-expand-lg navbar-light bg-light">

            <div class="container-fluid d-flex" id="current-page">

                <button type="button" class="navbar-toggler navbar-dark sidebar-btn" id="sidebarCollapse"
                aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon mx-1"></span>
                </button>

                <a href="" class="mx-2" id="currentContent">Home Page</a>
            </div>
        
        </nav>

        <!-- BEGIN: user information container -->
        <div class="row-lg-10 container-fluid" id="homeContent">
            <!-- BEGIN: Add Phone and Add Email row -->
            <div class="row justify-content-lg-center">

                <!-- BEGIN: Add Phone column -->
                <div class="add_info col-lg-6">
                    <!-- Add phone number form -->
                    <form action="/user/add_phone" class="form needs-validation" method="post" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        <label for="add-phone">Phone</label>
                        <div class="phone-items d-flex flex-wrap align-items-middle">
                            <!-- Add align-items-center to vertically align elements -->
                            <div class="mx-2">
                                <input type="tel" name="phone" class="form-control" id="add-phone" inputmode="numeric" pattern="^\(?([0-9]{3})\)?[-.●]?([0-9]{3})[-.●]?([0-9]{4})$" autocomplete="tel" required>
                                <div class="div invalid-feedback">
                                    Please enter a valid 10 digit number.
                                </div>
                            </div>
                            <div class="mx-2">
                                <input type="submit" class="btn add-btn" value="Add">
                            </div>
                        </div>
                    </form>

                    <!-- BEGIN: Each phone entry container -->
                    <div class="phone-entry container">
                        {% for phone in phones %}
                            <div class="phone-items d-flex flex-wrap align-items-middle">
                                <!-- Display phone number -->
                                <div class="mx-2">
                                    <li>{{ phone.phone }}</li>
                                </div>
                                <!-- Modify phone number -->
                                <div class="mx-2">
                                    <button class="btn edit-btn modify-form-btn" data-id="{{ phone.phone }}">Modify
                                    </button>
                                </div>
                                <!-- Delete phone number -->
                                <div class="mx-2">
                                    <form action="/user/delete_phone/{{ phone.id }}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="operation" value="delete">
                                        <input class="btn delete-btn" type="submit" value="Delete">
                                    </form>
                                </div>
                                <!-- START: Form to modify phone number (display shown/hidden based on Modify phone button)-->
                                <div class="modify-info container-fluid align-items-middle">
                                    <form action="/user/modify_phone/{{ phone.id }}" id="{{ phone.phone }}"
                                        class="modify-form needs-validation"
                                        method="post" enctype="multipart/form-data" style="display: none;" novalidate>
                                        {% csrf_token %}
                                        <div class="modify-info row d-flex flex-wrap align-items-middle">
                                            <div class="col form-group mx-2">
                                                <div class="col form-group">
                                                    <input type="tel" value="{{ phone.phone }}" name="phone"
                                                        class="form-control" autocomplete="tel" inputmode="numeric" pattern="^\(?([0-9]{3})\)?[-.●]?([0-9]{3})[-.●]?([0-9]{4})$" required>
                                                    <div class="div invalid-feedback">Input cannot be blank.</div>
                                                </div>
                                            </div>
                                            <div class="col mx-2">
                                                <input type="submit" class="btn edit-btn" value="Update">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- END: Form to modify phone number (display shown/hidden based on Modify email button)-->
                            </div>
                        {% endfor %}
                    </div>
                    <!-- END: Each phone entry container-->
                </div>
                <!-- END: Add Phone column-->

                <!-- BEGIN: Add Email column -->
                <div class="add_info col-lg-6">
                    <!-- Add email form -->
                    <form action="/user/add_email" class="form needs-validation" method="post" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        <label for="add-email">Email</label>
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="form-group mb-2">
                                    <input type="email" name="email" class="form-control" id="add-email" autocomplete="email" required>
                                    <div class="div invalid-feedback">
                                        Please enter a valid email address.
                                    </div>
                                </div>
                            </div>
                            <div class="mx-2">
                                <input type="submit" class="btn add-btn" value="Add">
                            </div>
                        </div>
                    </form>
                    <!-- BEGIN: Each email entry container -->
                    <div class="email-entry container">
                        {% for email in emails %}
                            <div class="email-items d-flex flex-wrap align-items-middle">
                                <!-- Display email -->
                                <div class="mx-2">
                                    <li>{{ email.email }}</li>
                                </div>
                                <!-- Modify email button -->
                                <div class="mx-2">
                                    <button class="btn edit-btn modify-form-btn" data-id="{{ email.email }}">Modify
                                    </button>
                                </div>
                                <!-- Delete email -->
                                <div class="mx-2">
                                    <form action="/user/delete_email/{{ email.id }}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="operation" value="delete">
                                        <input class="btn delete-btn" type="submit" value="Delete">
                                    </form>
                                </div>
                                <!-- START: Form to modify email (display shown/hidden based on Modify email button)-->
                                <div class="container-fluid">
                                    <form action="/user/modify_email/{{ email.id }}" id="{{ email.email }}"
                                            class="modify-form needs-validation"
                                            method="post" enctype="multipart/form-data" style="display: none;" novalidate>
                                        {% csrf_token %}
                                        <div class="row align-items-center">
                                            <div class="col form-group">
                                                <input type="email" value="{{ email.email }}" name="email"
                                                        class="form-control" autocomplete="email" required>
                                                <div class="div invalid-feedback">
                                                    Please enter a valid email address.
                                                </div>
                                            </div>
                                            <div class="col">
                                                <input type="submit" class="btn edit-btn" value="Update">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- END: Form to modify email (display shown/hidden based on Modify email button)-->
                            </div>
                        {% endfor %}
                    </div>
                    <!-- END: Each email entry container-->
                </div>
                <!-- END: Add Email column-->
            </div>
            <!-- END: Add Phone and Add Email row -->

            <!-- BEGIN: HomeMore Team Contact row -->
            <div class="homemore_contact row justify-content-lg-center">
                <!-- BEGIN: HomeMore Team Contact container -->
                <div class="container-fluid justify-content-lg-center">
                    <h3>HomeMore Team Contact</h3>
                    <p>Your HomeMore Team Contact is here for you to contact if you need any assistance.</p>
                    <p>Contact Name: {{ supervisor.name }}</p>
                </div>
                <!-- END: HomeMore Team Contact container -->
            </div>
            <!-- END: HomeMore Team Contact row -->
        </div>
        <!-- END: user information container -->

        <!-- BEGIN: user personal drive notes/documents container -->
        <div class="user-content container-fluid collapse" id="driveContent" style="display: none">
            <!-- BEGIN: row of 2 columns: Nost list and Document list -->
            <div class="row row-cols-2">
                <br>
                <!-- BEGIN: Note list -->
                <div class="col-lg-4 justify-content-lg-center" id="noteList">
                    <!-- Note list header -->
                    <div class="note-list-header d-flex container-fluid">
                        <h4>Notes</h4>
                        <button type="button" class="navbar-dark btn add-btn" id="noteListCollapse"
                            aria-controls="noteListCollapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <!-- BEGIN: Note list container -->
                    <div class="notes-list container" id="notesContainer">
                        {% for note in notes %}
                        <!-- Each Note entry per container -->
                        <div class="note-entry container">
                            <!-- Note header -->
                            <div class="note-header">
                                <!-- Note title -->
                                <div class="note-header-item">
                                    <span>{{ note.title }}</span>
                                </div>
                                <!-- Note Last updated date & Modify/Delete functions -->
                                <div class="note-header-item">
                                    <div class="row row-cols-2">
                                        <!-- Last updated -->
                                        <div class="col">
                                            <span>Updated {{ note.updated_time|date:"M d, Y" }}</span>
                                        </div>
                                        <!-- Modify and Delete note -->
                                        <div class="d-flex align-items-center col">
                                            <!-- Modify note -->
                                            <a class="btn edit-btn mx-2" href="/user/modify_note/{{ note.id }}">Modify</a>
                                            <!-- Delete note -->
                                            <form action="/user/delete_note/{{ note.id }}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="operation" value="delete">
                                                <input class="btn delete-btn mx-2" type="submit" value="Delete">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Note content -->
                            <div class="note-content">
                                <p class="note-content">{{ note.content }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- END: Each note entry container-->
                </div>
                <!-- END: Add Note col -->

                <br>
                <!-- BEGIN: Document list -->
                <div class="col-lg justify-content-lg-center" id="documentList">
                    <!-- Document header -->
                    <div class="document-header container-fluid">
                        <h4>Documents</h4>
                    </div>
                    <!-- Document section header -->
                    <div class="container">
                        <div class="document-list-header row">
                            <div class="col">
                                <span>Name</span>
                            </div>
                            <div class="col-lg-2">
                                <span>Expiration date</span>
                            </div>
                            <div class="col-lg-2">
                                <span>Last modified</span>
                            </div>
                            <div class="col-lg-2 center-text">
                                <span>Options</span>
                            </div>
                        </div>
                    </div>
                    <!-- BEGIN: Document list container -->
                    <div class="container">
                        {% for document in documents %}
                            <!-- BEGIN: Document entry per row -->
                            <div class="document-item active-document row" data-id="{{ document.type }}">
                                <!-- Document title -->
                                <div class="document-detail col">
                                    {% comment %} <span class="document-detail align-middle">{{ document.title }}</span> {% endcomment %}
                                    <a target="_blank" rel="noopener" href="{{ document.document.url }}" class="document-detail document-url align-middle">{{ document.title }}</a>
                                </div>
                                <!-- Document expiration date -->
                                <div class="document-detail col-lg-2">
                                    <span class="document-detail align-middle expiration-date" data-id="{{ document.expired_time }}">{{ document.expired_time|date:"M d, Y" }}</span>
                                </div>
                                <!-- Document last modified date -->
                                <div class="document-detail col-lg-2">
                                    <span class="document-detail align-middle">{{ document.updated_time|date:"M d, Y" }}</span>
                                </div>
                                <!-- Modify and Delete document -->
                                <div class="document-detail d-flex col-lg-2.5">
                                    <!-- Modify document -->
                                    <a class="document-detail btn edit-btn mx-1"
                                        href="/user/modify_document/{{ document.id }}">Modify</a>
                                    <!-- Delete document -->
                                    <form action="/user/delete_document/{{ document.id }}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="operation" value="delete">
                                        <input class="document-detail btn delete-btn mx-1" type="submit" value="Delete">
                                    </form>
                                </div>
                            </div>
                            <!-- END: Document entry per row -->
                        {% endfor %}
                    </div>
                    <!-- END: Document list container-->
                </div>
                <!-- END: Document list -->
            </div>
            <!-- END: row of 2 columns: Nost list and Document list -->
        </div>
        <!-- END: user personal drive notes/documents container -->
    </div>
    <!-- END: user content: home page / personal drive view -->


    <!-- Modal for PIN Authentication -->
    {% comment %} <div id="pinModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Please enter your 4-digit PIN:</p>
            <input type="password" id="pinInput" maxlength="4">
            <button id="submitPin">Submit</button>
        </div>
    </div> {% endcomment %}
</div>

<!-- PIN modal dialog -->
    <dialog id="pinModal" onKeyPress="return checkSubmit(event)">
        <div id="pinModalContent">
            <form>
                <div class="form-group">
                    <button id="closeModal" value="cancel" formmethod="dialog">&times;</button>
                </div>
                <div class="form-group">
                    <label for="pinInput">Please enter your 4-digit PIN:</label>
                    <br>
                    <input type="password" id="pinInput" class="form-control" maxlength="4">
                </div>
                <div class="form-group">
                    <button id="submitPin" class="btn add-btn" value="default">Confirm</button>
                </div>
            </form>
        </div>
    </dialog>

<!-- Javascript: jQuery, Popper.js, Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- More jQuery -->
<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<!-- user_index javascript page -->
<script src="../../../static/Syncmore/js/user_index.js"></script>

<!-- Function to close the PIN modal when pressing enter key -->
<script>
    function checkSubmit(e) {
        if(e && e.keyCode == 13) {
            pinModal.close(pinInput.value);
        }
    }
</script>

<!-- Javascript for displaying and hiding home page content, drive page content, and PIN modal -->
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var homeBtn = document.getElementById("homeButton");
        var homeContent = document.getElementById("homeContent");
        var driveBtn = document.getElementById("driveButton"); // Button to open drive page
        var driveContent = document.getElementById("driveContent"); // Drive page content

        var currentView = document.getElementById("currentContent");
        
        var pinModal = document.getElementById("pinModal");
        var closeBtn = document.getElementById("closeModal"); // Close button on the modal
        var pinInput = document.getElementById("pinInput");
        var submitBtn = document.getElementById("submitPin"); // Submit button on the modal

        // if home button clicked, display home content and hide drive content
        homeBtn.addEventListener("click", () => {
            currentView.innerText = "Home Page";
            // Show home content
            homeContent.style.display = "block";
            // Hide drive content
            driveContent.style.display = "none";
            // hide sidebar drive page drive page options
            $("li.drive-options").each(function(i, option) {
                $(option).hide();
            });
        });

        // if drive button clicked and drive content is not displayed, open PIN modal
        driveBtn.addEventListener("click", () => {
            if (driveContent.style.display === "none") {
                homeContent.style.display = "none";
                pinModal.showModal();
            }
        });

        // closing the PIN modal
        pinModal.addEventListener("close", (e) => {
            // if return value was default or cancel, close
            // "cancel" button closes the dialog without submitting because of [formmethod="dialog"], triggering a close event.
            if (pinModal.returnValue == "default" || pinModal.returnValue == "cancel") {
                pinModal.close();
                homeContent.style.display = "block";
            // if correct PIN is submitted, display drive content
            } else if (pinModal.returnValue === "{{ second_password }}") {
                currentView.innerText = "Personal Drive";
                $("li.drive-options").each(function(i, option) {
                    $(option).show();
                });
                driveContent.style.display = "block";
            // if incorrect PIN is submitted, alert to error and redisplay PIN modal again
            } else {
                // Incorrect PIN
                alert("Incorrect PIN. Please try again.");
                pinModal.showModal();
            }
            pinInput.value = "";
        });
        
        // prevent the "confirm" button from the default behavior of submitting the form
        // and close the dialog with the `close()` method, which triggers the "close" event.
        submitBtn.addEventListener("click", (event) => {
            event.preventDefault(); // dont submit this fake form
            pinModal.close(pinInput.value); // send the pinInput button input value to pinModal
        });
    });
</script>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script
src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script
src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script
src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
crossorigin="anonymous"></script>

<!-- Javascript for sidebar -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });

    $(document).ready(function () {
        $('#noteListCollapse').on('click', function () {
            $('#notesContainer').toggleClass('hidden');
        });
    });
</script>

<!-- Javascript for validation -->
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
        }

        form.classList.add('was-validated')
        }, false)
    })
    })()
</script>

<!-- Javascript for user documents expiration -->
<script>
    $(document).ready(function () {
        // select all elements with class name="expiration-date"
        const expirationDates = document.querySelectorAll('.expiration-date');
        // console.log(expirationDates);
        // loop through each expiration date element and check if expiration-date is today or older than today
        expirationDates.forEach(date => {
            // get the expiration date from HTML
            const expires = date.innerHTML;
            if (expires != null)
            var varDate = new Date(expires);
            varDate.setHours(0,0,0,0);
            // get todays date
            var today = new Date();
            today.setHours(0,0,0,0);
            // if expiration date is today or older than (before) today, mark date as expired
            if(varDate <= today) {
                // alert("Working!");
                date.classList.add('expired');
            }
        });
    });
</script>

</body>
</html>