<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>User Login Page</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../../../static/Syncmore/favicon.ico">
    <!-- link to styles -->
    <link rel="stylesheet" href="../../../static/Syncmore/styles.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body class="gray-body">
<!-- START: navigation bar -->
<nav class="navbar navbar-expand-md">
    <!-- website logo -->
    <img src="../../../static/Syncmore/HomeMore_Logo_Blue_Cropped.jpg" id="navbar-logo" alt="HomeMore Logo">
    <!-- website brand name -->
    <a class="navbar-brand" href="/">SyncMore</a>

    <!-- START: toggle button for mobile navigation bar links -->
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-nav"
            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- END: toggle button for mobile navigation bar links -->

    <!-- START: navigation bar links -->
    <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
        <!-- left hand side links: Resources and Contact Us -->
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="navbar-item">
                <a class="nav-link" href="/resources/index">Resources</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/index/contact">Contact Us</a>
            </li>
        </ul>
        <!-- right hand side links: Sign Up and Log In -->
        <ul class="navbar-nav justify-content-end align-right">
            <li class="navbar-item">
                <a class="nav-link" href="/user/register">Sign Up</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/user/login">Login</a>
            </li>
        </ul>
    </div>
    <!-- END: navigation bar links -->
</nav>
<!-- END: navigation bar -->


<!-- BEGIN: User form div -->
<div class="user-form">
    <!-- BEGIN: User form container -->
    <div id="user-form-container">
        <!-- User form header -->
        <div id="user-form-header" class="user-form-login">
            <h5>Login</h5>
        </div>
        <!-- BEGIN: User form content -->
        <div id="user-form-content">
            <div class="container">
                <form class="needs-validation" action="/user/login" method="post" novalidate>
                    {% csrf_token %}
                    <!-- User username -->
                    <div class="form-group row">
                        <label for="usernameInput" class="form-label required">Username</label>
                        <input type="text" name="username" class="form-control" id="usernameInput"
                               autocomplete="username" aria-describedby="UserRequired" required>
                        <div class="div invalid-feedback">
                            Please enter your username.
                        </div>
                    </div>
                    <!-- User password -->
                    <div class="form-group row">
                        <label for="passwordInput" class="form-label required">Password</label>
                        <input type="password" name="password" class="form-control" id="passwordInput"
                               autocomplete="current-password" aria-describedby="PWRequired" required>
                        <div class="div invalid-feedback">
                            Incorrect password.
                        </div>
                    </div>
                    <!-- Save button -->
                    <div class="form-group row d-flex justify-content-center">
                        <input type="submit" class="btn delete-btn" value="Log in"
                               style="width: 100%; text-align: center;">
                    </div>
                    <!-- ISSUES AFTER ATTEMTPING FORM SUBMISSION -->
                    <div class="form-group row form-submission-error-div">
                        <div class="my-2">
                            <label class="form-submission-error">{{ note }}</label>
                        </div>
                    </div>
                    <!-- OR separator -->
                    <div class="form-group row">
                        <div class="separator">or</div>
                    </div>
                    <!-- For non-users, direct to sign up -->
                    <div class="form-group row">
                        <a href="/user/register" class="btn add-btn" style="width: 100%; text-align: center;">Go to Sign
                            Up</a>
                    </div>
                </form>
            </div>
        </div>
        <!-- END: User form content -->
    </div>
    <!-- BEGIN: User form container -->
</div>
<!-- END: User form div -->


<!-- Javascript: jQuery, Popper.js, Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<!-- JS for validation -->
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>

<script>
    $(document).ready(function () {
        const errorMessage = document.querySelector(".form-submission-error")
        const errorDiv = document.querySelector(".form-submission-error-div");
        if (errorMessage.innerText == "") {
            errorDiv.style.display = "none";
        } else {
            errorDiv.style.display = "block";
        }
    });
</script>

</body>
</html>