<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Modify Document</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../../../static/Syncmore/favicon.ico">
    <!-- link to styles -->
    <link rel="stylesheet" href="../../../static/Syncmore/styles.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body class="gray-body">

<!-- START: user navigation bar -->
<nav class="navbar navbar-expand-md">

    <!-- SyncMore clickable logo -->
    <a class="navbar-brand" href="/"><img src="../../../static/Syncmore/SyncMore_Logo_Transparent_Cropped.png"
                                          id="navbar-logo" alt="SyncMore Logo"></a>

    <!-- START: toggle button for mobile navigation bar links -->
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-nav"
            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- END: toggle button for mobile navigation bar links -->

    <!-- START: navigation bar links -->
    <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="navbar-item">
                <a class="nav-link" href="/resources/index">Resources</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/index/contact">Contact Us</a>
            </li>
        </ul>
        <ul class="navbar-nav justify-content-end align-right">
            <li class="navbar-item">
                <a class="nav-link" href="#">Account Settings</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/user/logout">Log Out</a>
            </li>
        </ul>
    </div>
    <!-- END: navigation bar links -->
</nav>
<!-- END: user navigation bar -->


<!-- BEGIN: User form div -->
<div class="user-form">
    <!-- BEGIN: User form container -->
    <div id="user-form-container">
        <!-- Go back button -->
        <div id="user-form-navigation" class="my-3">
            <a class="btn delete-btn" href="/user/index"> < Back </a>
        </div>
        <!-- User form header -->
        <div id="user-form-header">
            <h5>Edit document</h5>
        </div>
        <!-- BEGIN: User form content -->
        <div id="user-form-content">
            <div class="container">
                <form action="/user/modify_document/{{ document.id }}" class="form" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <!-- Document name -->
                    <div class="form-group row">
                        <label for="new-title" class="optional">Document name</label>
                        <input type="text" value="{{ document.title }}" name="title" class="form-control"
                               id="new-title" required>
                    </div>
                    <!-- Upload new document -->
                    <div class="form-group row">
                        <label for="new-document" class="optional">Upload new document (PNG, JPG/JPEG, PDF files
                            only)</label>
                        <input type="file" onChange='displayFile(event)' name="document" class="form-control"
                               id="new-document" accept="image/png, image/jpeg, application/pdf" required/>
                    </div>
                    <!-- Document type selection -->
                    <div class="form-group row">
                        <label for="new-document-type" class="optional">Document type</label>
                        <select name="type" class="form-control" id="new-document-type" required>
                            <option value="Other">Other</option>
                            <option value="Birth Certificate">Birth Certificate</option>
                            <option value="Financial">Financial</option>
                            <option value="Housing">Housing</option>
                            <option value="ID">ID</option>
                            <option value="Insurance">Insurance</option>
                            <option value="SSN">SSN</option>
                            <option value="Passport">Passport</option>
                        </select>
                    </div>
                    <!-- Document expiration date -->
                    <div class="form-group row">
                        <label for="new-expiration-date" class="optional">Update the document's expiration date or skip
                            if not applicable.</label>
                        <input type="date" class="form-control" name="expiration-date" id="new-expiration-date"
                               pattern="\d{4}-\d{2}-\d{2}" required/>
                        <span class="validity"></span>
                    </div>
                    <!-- View current document -->
                    <div class="form-group container align-content-center">
                        <div>
                            <label>
                                Current document link:
                                <a id="document-url" href="{{ document.document.url }}">Document URL</a>
                            </label>
                        </div>
                        <div class="current-preview">
                            <label>Current document preview (only supported for JPG, JPEG, PNG, PDF files):</label>
                        </div>
                    </div>
                    <!-- View new document -->
                    <div class="form-group container align-items-center line-above">
                        <div>
                            <label>New document preview (only supported for JPG, JPEG, PNG, PDF files):</label>
                        </div>
                        <div class="preview">
                            <p>No files currently selected for upload</p>
                        </div>
                    </div>
                    <!-- Update button -->
                    <div class="form-group row d-flex justify-content-center">
                        <input type="submit" class="btn add-btn" value="Update"
                               style="width: 200px; text-align: center;">
                    </div>
                </form>
            </div>
        </div>
        <!-- END: User form content -->
    </div>
    <!-- BEGIN: User form container -->
</div>
<!-- END: User form div -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Script to get CURRENT file extension and display by file type -->
<script>
    const imageExt = [
        "apng",
        "bmp",
        "gif",
        "jpeg",
        "jpg",
        "pjpeg",
        "png",
        "svg+xml",
        "tiff",
        "webp",
        "x-icon",
    ];

    const pdfExt = [
        "pdf",
    ];

    // for current document preview
    $(document).ready(function () {
        const preview = document.querySelector(".current-preview");
        const file_url = document.getElementById("document-url").href;
        // regex match on file url to get .[extension]?
        const re = /\.[A-z]*\?/;
        const ext_match = file_url.match(re);
        // extract ext from regex match
        question = ext_match[0].lastIndexOf('?');
        ext = ext_match[0].substring(1, question);
        const para = document.createElement("p");
        if (imageExt.includes(ext)) {
            const image = document.createElement("img");
            image.classList.add("fit-image");
            image.src = file_url;
            preview.appendChild(image);

            var reader = new FileReader();
            reader.onload = function (e) {
                $('.fit-image').attr('src', e.target.result);
            };
            // if the file is a PDF type
        } else if (pdfExt.includes(ext)) {
            const embed_element = document.createElement("embed");
            embed_element.classList.add("fit-pdf");
            embed_element.src = file_url;
            preview.appendChild(embed_element);

            var reader = new FileReader();
            reader.onload = function (e) {
                $('.fit-pdf').attr('src', e.target.result);
            };
        }
    });
</script>

<!-- Script to get NEW uploaded file extension and display by file type -->
<script>
    // https://developer.mozilla.org/en-US/docs/Web/Media/Formats/Image_types
    const imageTypes = [
        "image/apng",
        "image/bmp",
        "image/gif",
        "image/jpeg",
        "image/jpg",
        "image/pjpeg",
        "image/png",
        "image/svg+xml",
        "image/tiff",
        "image/webp",
        "image/x-icon",
    ];

    const pdfTypes = [
        "application/pdf",
    ];

    function imageType(file) {
        return imageTypes.includes(file.type);
    }

    function pdfType(file) {
        return pdfTypes.includes(file.type);
    }

    // function for printing file name and type (extension)
    function getFileNameWithExt(file) {
        const name = file.name;
        const lastDot = name.lastIndexOf('.');

        var full_ext = file.type;

        const fileName = name.substring(0, lastDot);
        const ext = name.substring(lastDot + 1);

        outputfile.value = fileName;
        extension.value = full_ext;
    }

    // for new document preview
    function displayFile(event) {
        if (!event || !event.target || !event.target.files || event.target.files.length === 0) {
            return;
        }

        const preview = document.querySelector(".preview");

        while (preview.firstChild) {
            preview.removeChild(preview.firstChild);
        }

        const file = event.target.files[0];
        const para = document.createElement("p");
        if (imageType(file)) {
            const image = document.createElement("img");
            image.classList.add("fit-image");
            image.src = URL.createObjectURL(file);
            preview.appendChild(image);

            var reader = new FileReader();
            reader.onload = function (e) {
                $('.fit-image').attr('src', e.target.result);
            };
            // if the file is a PDF type
        } else if (pdfType(file)) {
            const embed_element = document.createElement("embed");
            embed_element.classList.add("fit-pdf");
            embed_element.src = URL.createObjectURL(file);
            preview.appendChild(embed_element);

            var reader = new FileReader();
            reader.onload = function (e) {
                $('.fit-pdf').attr('src', e.target.result);
            };
            // if the file is not of a type which file preview supports
        } else {
            para.textContent = `File name ${file.name}: Not a valid file type. Update your selection.`;
            preview.append(para);
        }

    }
</script>

</body>
</html>
