<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/user/modify_phone/{{ phone.id }}" class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <P>
        phone
    </P>
    <p>
        <input type="text" value="{{ phone.phone }}" name="phone">
    </p>
    <p>
        <input style="position:absolute;left: 30%;width: 200px;text-align: center" class="but" type="submit"
               value="Update">
    </p>
</form>
</body>
</html>