<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../../../static/Syncmore/favicon.ico">
    <!-- link to styles -->
    <link rel="stylesheet" href="../../../static/Syncmore/styles.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .success {
            color: red;
        }
    </style>
</head>
<body>
<!-- START: navigation bar -->
<nav class="navbar navbar-expand-md">
    <!-- website logo -->
    <img src="../../../static/Syncmore/HomeMore_Logo_Blue_Cropped.jpg" id="navbar-logo" alt="HomeMore Logo">
    <!-- website brand name -->
    <a class="navbar-brand" href="/">SyncMore</a>

    <!-- START: toggle button for mobile navigation bar links -->
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-nav"
            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- END: toggle button for mobile navigation bar links -->

    <!-- START: navigation bar links -->
    <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
        <!-- left hand side links: Resources and Contact Us -->
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="navbar-item">
                <a class="nav-link" href="/resources/index">Resources</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link active" href="/index/contact">Contact Us</a>
            </li>
        </ul>
        <!-- right hand side links: Sign Up and Log In -->
        <ul class="navbar-nav justify-content-end align-right">
            <li class="navbar-item">
                <a class="nav-link" href="/user/register">Sign Up</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/user/login">Login</a>
            </li>
        </ul>
    </div>
    <!-- END: navigation bar links -->
</nav>
<!-- END: navigation bar -->
<!-- BEGIN: jumbo header -->
<div class="jumbo-header container-fluid">
    <div class="row justify-content-md-center align-items-center">
        {% comment %} <div class="col col-lg-6">
                    <img src="../../../static/Syncmore/HomeMore_Logo_Blue.jpg" class="jumbo-image" alt="HomeMore Logo Big">
                </div> {% endcomment %}

        <div class="col col-lg-6">
            <h1><strong>Contact Us</strong></h1>
        </div>
    </div>
</div>
<!-- END: jumbo header -->
<!-- BEGIN: page content -->
<div class="container" style="font-size:18px;">
    <div class="row row-cols-2 align-items-top gx-5">
        <!-- BEGIN: description section -->
        <div class="col-md my-5">
            <br>
            <p>
                Whether you have a general question, suggestion, concern,
                or want to say hello, we want to hear from you. At
                HomeMore, we are collectively striving to innovate within
                the unhoused community in San Francisco. We want to hear
                from anyone and everyone who has an interest in our
                organization. Feel free to message us with any inquiries!
            </p>
            <br>
            <p>
                <a href="mailto:info@homemoreproject.org">hello@homemoreproject.org</a>
            </p>
            <br>
            <p>
                <strong>628-444-8094</strong>
            </p>
        </div>
        <!-- END: description section -->
        <!-- BEGIN: form section -->
        <div class="col-md my-5">
            <form class="row g-3 needs-validation" method="post" action="/index/contact/" novalidate>
                {% csrf_token %}
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="col-md-6 my-2">
                    <label for="First" class="form-label">First Name</label>
                    <input type="text" class="form-control" name="first_name" id="First" autocomplete="given-name"
                           aria-describedby="FirstRequired" required>
                    <div id="FirstRequired" class="form-text">Required</div>
                    <div class="div invalid-feedback">
                        Please enter your first name.
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <label for="Last" class="form-label">Last Name</label>
                    <input type="text" class="form-control" name="last_name" id="Last" autocomplete="family-name"
                           aria-describedby="LastRequired" required>
                    <div id="LastRequired" class="form-text">Required</div>
                    <div class="div invalid-feedback">
                        Please enter your last name.
                    </div>
                </div>
                <div class="col-12 mb-5">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" id="email" autocomplete="email"
                           aria-describedby="EmailRequired" required>
                    <div id="EmailRequired" class="form-text">Required</div>
                    <div class="div invalid-feedback">
                        Please enter a valid email address.
                    </div>
                </div>
                <div class="col-12">
                    <label for="subject" class="form-label">Subject</label>
                    <input type="text" class="form-control" name="subject" id="subject" aria-describedby="SubRequired"
                           required>
                    <div id="SubRequired" class="form-text">Required</div>
                    <div class="div invalid-feedback">
                        Subject must not be blank.
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" name="message" id="message" rows="4" aria-describedby="MsgRequired"
                              required></textarea>
                    <div id="MsgRequired" class="form-text">Required</div>
                    <div class="div invalid-feedback">
                        Message must not be blank.
                    </div>
                </div>
                <div class="col-12 mb-2">
                    <div class="d-flex justify-content-start mb-3">
                        <input type="submit" class="btn delete-btn btn-lg rounded-pill" value="Send">
                    </div>
                </div>
            </form>

        </div>
        <!-- END: form section -->
    </div>
</div>
<!-- END: page content -->
<!-- footer -->
<footer>
    &copy; 2023 SyncMore. All Rights Reserved.
</footer>

<!-- JS for validation -->
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>

<!-- Javascript: jQuery, Popper.js, Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
