<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/resources/add" class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6 ">
            <p>
                category
            </p>
            <p>
                <input type="text" name="category">
            </p>
            <P>
                name
            </P>
            <p>
                <input type="text" name="name">
            </p>
        </div>
    </div>
    <p>

    </p>
    <p>
        <textarea cols="30" rows="10" name="description"></textarea>
    </p>
    <P>
        address
    </P>
    <p>
        <input type="text" name="address">
    </p>
    <P>
        phone
    </P>
    <p>
        <input type="text" name="phone">
    </p>
    <P>
        email
    </P>
    <p>
        <input type="text" name="email">
    </p>
    <P>
        website
    </P>
    <p>
        <input type="text" name="website">
    </p>
    <p>
        website_nickname
    </p>
    <p>
        <input type="text" value="{{ resource.website_nickname }}" name="website_nickname">
    </p>
    <p>
        <input style="position:absolute;left: 30%;width: 200px;text-align: center" class="but" type="submit"
               value="Add">
    </p>

</form>
</body>
</html>