<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #ccc;
            color: white;
            text-align: center;
            padding: 1em 0;
        }
        nav {
            display: flex;
            justify-content: center;
            list-style-type: none;
            padding: 0;
        }
        nav li {
            margin: 0 15px;
        }
        .content {
            padding: 2em;
            padding-right: 50%;
        }
        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 1em 0;
            margin-top: 2em;
        }
    </style>
</head>
<body>
    <header>
        <h1>SyncMore</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section class="content">
        <h2><u>Basic Necessities</u></h2>
        <h3>Project Homeless Connect</h3>
        <p>
            Project Homeless Connect provides Hygiene Kits, Sleeping Bags, 
            Backpacks, Problem Solving, DMV ID Vouchers, Haircut Vouchers, 
            Reading Glasses, Mail Services, and more during their drop-in hours 
            from 9:30am-3:30pm on Tuesday and Wednesdays.
        </p>
        <ul>
            <li>Address: 123 Main st</li>
            <li>Phone number: (098)765-4321</li>
            <li>Email: resource@site.com</li>
            <li>Website: https://www.thehomemoreproject.org</li>
        </ul>
        <h3>St. Anthony's Foundation</h3>
        <p>
            St. Anthony's Foundation provides hot meals, free clothing, 
            technology, and educational services, addiction recovery treatment,
            a hygiene hub, and more.
        </p>
        <ul>
            <li>Address: 321 South st</li>
            <li>Phone number: (123)456-7890</li>
            <li>Email: contact@resource.com</li>
            <li>Website: https://www.resources.com</li>
        </ul>
        <h3>San Francisco City Impact</h3>
        <p>
            San Francisco City Impact provides grocery distribution, hot meals, 
            hygiene items, and Dental services through appointments.
        </p>
        <ul>
            <li>Address: 123 Main st</li>
            <li>Phone number: (098)765-4321</li>
            <li>Email: resource@site.com</li>
            <li>Website: https://www.thehomemoreproject.org</li>
        </ul>
        <h2><u>Wellness</u></h2>
        <h3>The Healing Well</h3>
        <p>
            The Healing Well specializes in movement, mindfulness, contemplative 
            practices, creative arts appreciation and expression, physical fitness 
            and healthy eating, and social support.
        </p>
        <ul>
            <li>Address: 321 South st</li>
            <li>Phone number: (123)456-7890</li>
            <li>Email: contact@resource.com</li>
            <li>Website: https://www.resources.com</li>
        </ul>
        <h3>Care Through Touch</h3>
        <p>
            Care Through Touch specializes in seated massages at various events 
            with other partner organizations in the Tenderloin and downtown 
            San Francisco areas. 
        </p>
        <ul>
            <li>Address: 123 Main st</li>
            <li>Phone number: (098)765-4321</li>
            <li>Email: resource@site.com</li>
            <li>Website: https://www.thehomemoreproject.org</li>
        </ul>
        <h2><u>Financial Services</u></h2>
        <h3>LSS of Northern California</h3>
        <p>
            LLS specializes in providing Money Management assistance and 
            support to low-income San Francisco residents living with HIV and 
            essential financial management services.
        </p>
        <ul>
            <li>Address: 321 South st</li>
            <li>Phone number: (123)456-7890</li>
            <li>Email: contact@resource.com</li>
            <li>Website: https://www.resources.com</li>
        </ul>
        <h2><u>Healthcare</u></h2>
        <h3>Healthright 360</h3>
        <p>
            HealthRight 360 specializes in providing healthcare. Some of their 
            services include Mental Health Services, Primary Medical Care, 
            Infectious Disease Treatment, Prevention Services for Youth and 
            Young Adults, and Dental care for Adults & Pediatrics. 
        </p>
        <ul>
            <li>Address: 123 Main st</li>
            <li>Phone number: (098)765-4321</li>
            <li>Email: resource@site.com</li>
            <li>Website: https://www.thehomemoreproject.org</li>
        </ul>
        <h3>American Health Services: Fort Help Methadone Clinic</h3>
        <p>
            HealthRight 360 specializes in providing healthcare. Some of their 
            services include Mental Health Services, Primary Medical Care, 
            Infectious Disease Treatment, Prevention Services for Youth and 
            Young Adults, and Dental care for Adults & Pediatrics. 
        </p>
        <ul>
            <li>Address: 321 South st</li>
            <li>Phone number: (123)456-7890</li>
            <li>Email: contact@resource.com</li>
            <li>Website: https://www.resources.com</li>
        </ul>
        <h2><u>Shelter</u></h2>
        <h3>Episcopal Community Services - SF</h3>
        <p>
            Episcopal Community Services provides supportive housing, 
            behavioral healthcare services, and workforce development.
        </p>
        <ul>
            <li>Address: 123 Main st</li>
            <li>Phone number: (098)765-4321</li>
            <li>Email: resource@site.com</li>
            <li>Website: https://www.thehomemoreproject.org</li>
        </ul>
        <h3>St. Vincent de Paul- MSC Shelter and Navigation Center</h3>
        <p>
            St. Vincent de Paul provides clean beds, warm meals, medical and 
            mental heath care, educational training, and more.
        </p>
        <ul>
            <li>Address: 321 South st</li>
            <li>Phone number: (123)456-7890</li>
            <li>Email: contact@resource.com</li>
            <li>Website: https://www.resources.com</li>
        </ul>
        <h3>Dolores Street Community Services</h3>
        <p>
            Dolores Street Community Services provides an emergency shelter, 
            meal service, and supportive housing.
        </p>
        <ul>
            <li>Address: 123 Main st</li>
            <li>Phone number: (098)765-4321</li>
            <li>Email: resource@site.com</li>
            <li>Website: https://www.thehomemoreproject.org</li>
        </ul>
        <h2><u>Human Connection</u></h2>
        <h3>Miracle Messages</h3>
        <p>
            Miracle Messages provides reunion services and phone buddies 
            through Miracle Friends for group discussions, calls, and texts 
            connecting the unhoused community with family members and 
            volunteers. They also offer Miracle Money to 14 individuals and are 
            expanding.
        </p>
        <ul>
            <li>Address: 321 South st</li>
            <li>Phone number: (123)456-7890</li>
            <li>Email: contact@resource.com</li>
            <li>Website: https://www.resources.com</li>
        </ul>
        <h3>San Francisco Night Ministry</h3>
        <p>
            San Francisco Night Ministry  provides a Care 
            Help Line: (844) 467-3473, Community Night Walks from Ministers 
            and Volunteers and Community Gatherings: Non-Denomination 
            Cathedral Meetings.
        </p>
        <ul>
            <li>Address: 321 South st</li>
            <li>Phone number: (123)456-7890</li>
            <li>Email: contact@resource.com</li>
            <li>Website: https://www.resources.com</li>
        </ul>
    </section>

    <footer>
        &copy; 2023 SyncMore. All Rights Reserved.
    </footer>
</body>
</html>