<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Resources Page</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../../../static/Syncmore/favicon.ico">
    <!-- link to styles -->
    <link rel="stylesheet" href="../../../static/Syncmore/styles.css"/>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<!-- START: navigation bar -->
<nav class="navbar navbar-expand-md">
    <!-- website logo -->
    <img src="../../../static/Syncmore/HomeMore_Logo_Blue_Cropped.jpg" id="navbar-logo" alt="HomeMore Logo">
    <!-- website brand name -->
    <a class="navbar-brand" href="/">SyncMore</a>

    <!-- START: toggle button for mobile navigation bar links -->
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-nav"
            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- END: toggle button for mobile navigation bar links -->

    <!-- START: navigation bar links -->
    <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
        <!-- left hand side links: Resources and Contact Us -->
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="navbar-item">
                <a class="nav-link" href="/resources/index">Resources</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/index/contact/">Contact Us</a>
            </li>
        </ul>
        <!-- right hand side links: Sign Up and Log In -->
        <ul class="navbar-nav justify-content-end align-right">
            <li class="navbar-item">
                <a class="nav-link" href="/user/register">Sign Up</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/user/login">Login</a>
            </li>
        </ul>
    </div>
    <!-- END: navigation bar links -->
</nav>
<!-- END: navigation bar -->

<!-- Accordion div -->
<div class="accordian" id="accordionBasic"></div>
<!-- First entry in accordion -->
<div class="accordion-item">
    <!-- Entry Title -->
    {% for category, resources in c_page %}
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button"
                    style="  border: 1px outset #292929; padding: 1rem 1.25rem; background-color: gainsboro;"
                    type="button" data-bs-toggle="collapse" data-id="{{ category }}" aria-expanded="true"
                    aria-controls="{{ category }}">
                <strong>{{ category }}</strong>
            </button>
        </h2>
        <!-- Entry body -->
        <div id="{{ category }}" class="accordion-collapse collapse" aria-labelledby="headingOne"
             data-bs-parent="#accordionBasic">
            <div class="accordion-body">
                <div class="row">
                    {% for p in resources %}
                        <div class="col-md-4">
                            <div class="card mx-1 my-md-5 my-1">
                                <div class="card-header">
                                    <strong>{{ p.name }}</strong>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{ p.description }}</p>
                                    <a href="{{ p.website }}"
                                       class="btn btn-lg btn-primary">{{ p.website_nickname }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<!-- footer -->
<footer>
    &copy; 2023 SyncMore. All Rights Reserved.
</footer>

<!-- Javascript: jQuery, Popper.js, Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script>
    // const btn = document.getElementById('modify-form-btn');
    //var names = '';

    // select all 'button' elements with the class name="modify-form-btn"
    const buttons = document.querySelectorAll('button.accordion-button');

    // loop through each button and add a click event listener
    buttons.forEach((button) => {
        button.addEventListener("click", () => {
            // get button value (phone.id or email.id)
            const id = button.dataset.id;
            // get the id's respective form
            const form = document.getElementById(id);

            if (form.style.display === 'none') {
                // 👇️ this SHOWS the form
                form.style.display = 'block';
            } else {
                // 👇️ this HIDES the form
                form.style.display = 'none';
            }
        });
    });
</script>
</body>
</html>
